/* /Layout/MainLayout.razor.rz.scp.css */
main[b-463vfwaf7u] {
    font-family: 'Inter', sans-serif;
}
/* /Layout/NavMenu.razor.rz.scp.css */
nav[b-aer9kd38o9] {
    font-family: 'Inter', sans-serif;
}
