@namespace GreekCalculatorWeb.Client.Layout
@inherits LayoutComponentBase
<div class="min-h-screen flex bg-gray-100">

    <NavMenu />

    <main class="flex-1 p-10">
        @Body
    </main>

</div>
