/* /Layout/MainLayout.razor.rz.scp.css */
main[b-efp4k3osve] {
    font-family: 'Inter', sans-serif;
}
/* /Layout/NavMenu.razor.rz.scp.css */
nav[b-sc45d95ban] {
    font-family: 'Inter', sans-serif;
}
